@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication 

@inherits LayoutComponentBase
@inject SignOutSessionStateManager SignOutManager
@inject NavigationManager Navigation

<div class="sidebar">
    <NavMenu />    
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <p>@context.User.Identity.Name</p>
                <button class="btn btn-dark" @onclick="@SignOut">Sign Out</button>
            </Authorized>
        </AuthorizeView>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

@code {        

    private async Task SignOut(MouseEventArgs e)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

}