@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello anon!</h1>
    </NotAuthorized>
</AuthorizeView>

<button class="btn btn-dark" @onclick="@Click">Click</button>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }

    public async Task Click()
    {
        

    }
}