@using System.ComponentModel.DataAnnotations
@inject StateContainer Container
@inject NavigationManager Nav
@implements IDisposable
@page "/login"

<h3>Login</h3>

<EditForm Model="@userModel" OnValidSubmit="@SignIn">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="useremail" placeholder="E-Mail" @bind-Value="@userModel.Name"/>
    <InputText type="password" id="userpassword" placeholder="Password" @bind-Value="@userModel.Password"/>
    <button type="submit">Sign In</button>
</EditForm>

@code {        

    protected override void OnInitialized()
    {
        Container.onChange += StateHasChanged;
    }

    public class UserModel
    {
        [Required]
        public string Name { get; set; }
        [Required]
        public string Password { get; set; }
    }

    private UserModel userModel = new UserModel();

    private void SignIn()
    {
        Container.SetProperty();
        Console.WriteLine(Container.IsAuthenticated);
        Nav.NavigateTo("/");
    }

    public void Dispose()
    {
        Container.onChange -= StateHasChanged;
    }
}
