@page "/privacy" 

<h3>Privacy</h3>
<p>If you've opted in to our Machine Learning preferences we will read and extract data from your uploaded content.</p>
<p>We are however not storing any of that data in any readable format.</p>
<p>You can opt out from that from our settings page.</p>

<p>Your personal information is stored safely on Microsoft servers and you can at any time download that information.</p>
<p>Should you wish that we remove any personal information on you, you can do so from the settings page as well.</p>

<h5>Happy cloud storing!</h5>

@code {

}
