@page "/settings"

<AuthorizeView>
    <Authorized>
        <h4>here are your settings</h4>
    </Authorized>
    <NotAuthorized>
        <Unauthorized />
    </NotAuthorized>
</AuthorizeView>

@code {

}
